<div class="container">
    <div [hidden]="submitted">
      <h1>Preschool Add Form</h1>
      <form (ngSubmit)="newPreschool()" #preschoolForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="preschool.preschoolName" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
  
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price"
                 [(ngModel)]="preschool.price" name="price">
        </div>
  
        <div class="form-group">
          <label for="endOfEarlyRegistrationDate">End Of Early Registration Date</label>
          <input type="date" class="form-control" id="endOfEarlyRegistrationDate"
                 [(ngModel)]="preschool.endOfEarlyRegistrationDate" name="endOfEarlyRegistrationDate">
          
        </div>
  
        <button type="button" class="btn btn-default" (click)="newPreschool(); preschoolForm.reset()">New Hero</button>


      </form>
    </div>

  </div>