<div class="container">
  <mat-card >
    <div [hidden]="submitted">
      <h1>Preschool Add Form</h1>
      <form (ngSubmit)="newPreschool()" #preschoolForm="ngForm">
  
        <mat-form-field appearance="fill" >
          <mat-label>Preschool Name</mat-label>
          <input matInput class="form-control" id="name"
                 required
                 [(ngModel)]="preschool.preschoolName" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </mat-form-field>
        <br>
          
        <mat-form-field appearance="fill" >
          <mat-label>Price</mat-label>
          <input matInput mat type="text" class="form-control" id="price"
                 [(ngModel)]="preschool.price" name="price">
        </mat-form-field>
        <br>
  
        <mat-form-field appearance="fill" >
          <mat-label>End Of Early Registration Date</mat-label>
          <input matInput [matDatepicker]="picker" class="form-control" id="endOfEarlyRegistrationDate" 
           [(ngModel)]="preschool.endOfEarlyRegistrationDate" name="endOfEarlyRegistrationDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>

        <button mat-flat-button color="primary" class="btn btn-default" (click)="newPreschool();
         preschoolForm.reset()">New Preschool</button>
         
      </form>
    </div>
  </mat-card>
</div>