<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<mat-toolbar color="primary" *ngIf="currentUser">
  <button mat-icon-button class="example-icon" routerLink="/dashboard">
    <mat-icon>home</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/discounts">Discounts</button>
  <button mat-raised-button color="primary" routerLink="/preschools">Preschools</button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" (click)="logout()">
    <mat-icon>exit</mat-icon>
  </button>
</mat-toolbar>
<div class="mat-app-background basic-container">
  <router-outlet></router-outlet>
</div>

