.main-div{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount-content {
  display: flex;
  margin: 30px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  justify-content: center;
  align-items: center;
}