<div class="card-container">
  <mat-card>
    <img mat-card-xl-image src="https://i.ibb.co/W29Kg44/Pre-Di-C-2.png" alt="Pre-Di-C-2">
      <mat-card-header>
        <mat-card-title>Hesabınızı Bilin !</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <p>
          Bu program sayesinde bütçenize uygun anaokulunu seçebilir, anaokullarında sizin 
          için uygulanacak olan indirimi hesaplayabilir, anaokulu ve indirim ekleyip düzenleyebilirsiniz.
        </p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/discounts">Discounts</button>
          <button mat-raised-button color="primary" routerLink="/preschools">Preschools</button>
        </mat-card-actions>
    </mat-card>
</div>